@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FFFFFF;
    --foreground: #020617;

    --card: #FFFFFF;
    --card-foreground: #020617;

    --popover: #FFFFFF;
    --popover-foreground: #020617;

    --primary: #0284C7;
    --primary-foreground: #F8FAFC;

    --success: #22C55E;
    --success-foreground: #F8FAFC;

    --secondary: #F1F5F9;
    --secondary-foreground: #1E293B;

    --muted: #FAFAFA;
    --muted-foreground: #64748B;

    --accent: #F1F5F9;
    --accent-foreground: #1E293B;

    --destructive: #EF4444;
    --destructive-foreground: #F8FAFC;

    --border: #E2E8F0;
    --input: #E2E8F0;
    --ring: #020617;

    --radius: 0.5rem;

    --state-block-width: 40px;
    --state-block-height: 40px;
  }

  .dark {
    --background: #020617;
    --foreground: #F8FAFC;

    --card: #020617;
    --card-foreground: #F8FAFC;

    --popover: #020617;
    --popover-foreground: #F8FAFC;

    --primary: #F8FAFC;
    --primary-foreground: #1E293B;

    --secondary: #1E293B;
    --secondary-foreground: #F8FAFC;

    --muted: #1E293B;
    --muted-foreground: #94A3B8;

    --accent: #1E293B;
    --accent-foreground: #F8FAFC;

    --destructive: #7F1D1D;
    --destructive-foreground: #F8FAFC;

    --border: #1E293B;
    --input: #1E293B;
    --ring: #CBD5E1;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

input {
  font-family: inherit;
}

.w-state {
  width: var(--state-block-width);
}

.h-state {
  height: var(--state-block-height);
}

.border-state {
  border: 1px dotted var(--muted);
}
