:root {
  --background: #ffffff;
  --foreground: #1a0000;

  --primary: #3399ff;
  --primary-foreground: #ebf5ff;

  --success: #21db52;
  --success-foreground: #ebf5ff;

  --secondary: #d6eaff;
  --secondary-foreground: #2a1e1f;

  --muted: #fafafa;
  --muted-foreground: #778ca7;

  --accent: #d6eaff;
  --accent-foreground: #2a1e1f;

  --destructive: #ff334c;
  --destructive-foreground: #ebf5ff;

  --border: #c9d7e9;
  --input: #c9d7e9;
  --ring: #1a0000;
}
